/* Navbar */
.logo{
    height: 10vh;
    margin-left: 50px;
}

#menu{
    margin-right: 50px;
}

#btn-contact{
    box-sizing: border-box;
    border-radius: 10vh;
    padding-left: 20px;
    padding-right: 20px;
    border-color: #F47522;
    margin-top: 5px;
}

.nav-link{
    font-family: sans-serif;
}

/* Home */

.home{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EDF6FF;
    height: 743px;

}

.spt-team{
    width: 20px;
    height: 20px;
}   

#btn-team{
    color: #fff;
    background-color: #F47522;
    border-radius: 10vh;
    padding-left: 20px;
    padding-right: 20px;

}

.capsul{
    padding: 8px 0px 8px 0px;
}

.group{
    width: 420px;
    height: 420px;
    margin-left: 260px;
}

.paragraf {
    margin-left: 37px;
    margin-right: 260px;
}

.hi{
    font-family: muli,black;
    font-size: 25px;
    color: #19345E;
}

.we{
    font-family: Roboto, Bold;
    font-size: 45px;
    color: #19345E;
}

.altera{
    color: #F47522;
}

.fullstack{
    font-family: Muli, Bold;
    font-size: 17px;
    color: #19345E;
}

.column{
    border-radius: 50%;
}

.reward {
    width: 25px;
    height: 25px;
}

.project {
    width: 25px;
    height: 25px;
}


.support{
    width: 25px;
    height: 25px;
}

.container {
    padding-left: 210px ;
    padding-right: 209px ;
}

.row{
    margin: 33px 93px 35px 93px;
}

.wrap {
    justify-content: center;
    align-items: center;
}

.bg {
    display: flex;
    background-color: #F47522;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
}

.job{
    font-family: roboto, bold;
    font-size: 16px;
    color: #19345E;
    margin: 0px 0px 0px 10px;
}

.exp{
    font-family: Muli;
    font-size: 14px;
    color: #19345E;
    margin: 0px 0px 0px 10px;
}

/* About */

.about{
    display: flex;
    justify-content: center;
    background-color:#fff;
    padding: 20px;
    align-items: center;
}

.about-1{
    margin-left: 20px;
    margin-top: 21px;
    margin-bottom: 21px;
    margin-right: 20px;
    text-align: center;
    font-family: sans-serif;
    color: #19345E;
}

.garis{
    align-items: center;
    width: 35px;
    height: 2px;
    border-radius: 25%;
    background-color: #F47522;
}

.tentang{
    position: relative;
    height: 476px;
}

.biru{
    position: absolute;
    background: #19345E 0% 0% no-repeat padding-box;
    opacity: 0.7;
    width: 100%;
    height: 560px;
}

.back-people{
    background-color: #0062fe;
}

.people{
    width: 100%;
    height: 560px;
}

.alterra{
    font-family: Muli,Bold;
    font-size: 55px;
    color: #fff;
    text-align: center;
}

.brand{
    font-family: Muli;
    font-size: 18px;
    color: #fff;
    text-align: center;
}

.para{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    z-index: 5;
    height: 560px;
    padding-left: 229px ;
    padding-right: 229px;
}


/* Team */

.team{
    display: flex;
    justify-content: center;
    background-color:#fff;
    padding: 20px;
    align-items: center;
    margin-top: 100px;
}

.team-1{
    margin-left: 20px;
    margin-top: 21px;
    margin-bottom: 21px;
    margin-right: 20px;
    text-align: center;
    font-family: sans-serif;
    color: #19345E;
}

.consist{
    display: flex;
    justify-content: center;
    margin-top: -30px;
    font-family: Muli,bold;
    font-size: 17px;
    color: #19345E;
}

.ornament {
    position:absolute;
    height: 40%;
}

.col-md-4{
    z-index: 5;
}

.pekerja{
    width: 225px;
    height: 265px;
    margin-top: 100px;
    margin-left: 100px;
}

.kotak{
    width: 225px;
    height: 265px;
}

.frame-image{
    width: 225px;
    height: 265px;
    border: 10px solid #F47522;
    position: relative;
    top: -30vh;
    right: -10vh;
}

.frame-image1{
    width: 225px;
    height: 265px;
    border: 10px solid #19345E;
    position: relative;
    top: -30vh;
    right: -10vh;
}
.pekerja-1{
    width: 225px;
    height: 265px;
    margin-top: 70px;
    margin-left: 100px;
}

.name{
    display: flex;
    justify-content: center;
    margin-left: 30px;
    margin-top: -25vh;
    font-family: Roboto,bold;
    font-size: 20px;
    color: #F47522;
}

.pekerjaan{
    display: flex;
    justify-content: center;
    margin-left: 30px;
    margin-top: -20px;
    font-family: Poppins;
    font-size: 15px;
    color: #19345E;
}

.check{
    font-family: Muli,semibold;
    font-size: 16px;
    text-align: right;
    margin-right: 160px;
    color: #19345E;
}

.arrow{
    width: 20px;
    height: 20px;
}

/* Blog */
.blog{
    display: flex;
    justify-content: center;
    background-color:#fff;
    padding: 10px;
    align-items: center;
    margin-top: 70px;
}

.blog-1{
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 21px;
    margin-right: 20px;
    text-align: center;
    font-family: sans-serif;
    color: #19345E;
}

.isi {
    width: 285px ;
    margin-left: 60px;
}

.kartu{
    width: 285px;
    height: 207px;
}

#gambar {
    width: 285px;
    height: 207px;
    padding-left: 10px;
    margin-left: 50px;
}

.card-title{
    font-family: Roboto, bold;
    font-size: 19px;
    color: #19345E;
    margin-top: 10px;
}

.span{
    text-align: right;
    margin-left: 80px;
}

.card-text{
    font-family: poppins;
    font-size: 14px;
    color: #19345E;
}

.read{
    margin-left: 180px;

}

/* Footer */

#footer{
    height: 142px;
    margin-top: 300px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    position: absolute;
}

.logo-foot{
    height: 56px;
    margin-bottom: 10px;
    margin-left: 40px;
    margin-top: 10px;
}

.social{
    color: #fff;
    font-family: muli;
    text-align: center;
    font-size: 14px;
    margin-top: 10px;
}

.fb{
    width: 20px;
    height: 20px;
    margin-left: 120px;
    margin-right: 10px;
}
.twit{
    width: 20px;
    height: 20px;
    margin-right: 10px;
}
.ig{
    width: 20px;
    height: 20px;
    margin-right: 10px;
}
.linked{
    width: 20px;
    height: 20px;
    margin-left: 10px;
}

.copy{
    color: #fff;
    font-family: muli;
    font-size: 14px;
    text-align: center;
    margin-top: 30px;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 30px;
}


@media  screen and (max-width :768px ) and (min-width : 321px) {
    .group {
        width: 320px;
        height: 320px;
        margin-left: 260px;
    }

    .we {
        font-family: Roboto, Bold;
        font-size: 35px;
        color: #19345E;
    }

    .hi {
        font-family: muli,black;
        font-size: 25px;
        color: #19345E;
    }

    .fullstack {
        font-family: Muli, Bold;
        font-size: 12px;
        color: #19345E;
    }

    #btn-team {
        color: #fff;
        background-color: #F47522;
        border-radius: 10vh;
        padding-left: 10px;
        padding-right: 10px;
    }

    .spt-team {
        height: 20px;
    }

    .wrap {
        justify-content: center;
        align-items: center;
    }
    
    .bg {
        display: flex;
        background-color: #F47522;
        border-radius: 100%;
        width: 10px;
        height: 10px;
        justify-content: center;
        align-items: center;
    }

    /* About */

    .brand {
        font-family: Muli;
        font-size: 14px;
        color: #fff;
        text-align: center;
    }

    .alterra {
        font-family: Muli,Bold;
        font-size: 45px;
        color: #fff;
        text-align: center;
    }

    .people {
        width: 100%;
        height: 460px;
    }

    .biru{
        position: absolute;
        background: #19345E 0% 0% no-repeat padding-box;
        opacity: 0.7;
        width: 100%;
        height: 460px;
    }

    /* Team */

    .team {
        display: flex;
        justify-content: center;
        background-color: #fff;
        padding: 20px;
        align-items: center;
        /* margin-top: 100px; */
    }

    .pekerja {
        width: 170px;
        height: 220px;
        margin-top: 90px;
        margin-left: 61px;
    }

    .pekerja-1 {
        width: 170px;
        height: 220px;
        margin-top: 70px;
        margin-left: 61px;
    }

    .frame-image {
        width: 170px;
        height: 220px;
        border: 10px solid #F47522;
        position: relative;
        top: -47vh;
        right: -10vh;
    }

    .frame-image1 {
        width: 170px;
        height: 220px;
        border: 10px solid #19345E;
        position: relative;
        top: -47vh;
        right: -10vh;
    }

    .name {
        display: flex;
        justify-content: center;
        margin-left: 50px;
        margin-top: -35vh;
        font-family: Roboto,bold;
        font-size: 16px;
        color: #F47522;
    }

    .pekerjaan {
        display: flex;
        justify-content: center;
        margin-left: 50px;
        margin-top: -20px;
        font-family: Poppins;
        font-size: 12px;
        color: #19345E;
    }

    #team-row {
        margin: auto 93px 35px 93px;
    }


    /* Blog */

    #blog-row {
        margin-left: 55px;
    }

    #gambar {
        width: 200px;
        height: 165px;
        padding-left: 10px;
        margin-left: 4px;
    }

    .isi {
        margin-left: 18px;
        width: 200px;
    }

    .card-title {
        font-family: Roboto, bold;
        font-size: 12px;
        color: #19345E;
        margin-top: 10px;
        margin-left: 4p;
    }

    .span {
        font-size: 12px;
        text-align: right;
        margin-left: 13px;
    }

    .text-muted {
        font-size: 12px;
    }

    .card-text {
        font-family: poppins;
        font-size: 13px;
        color: #19345E;
    }

    .read {
        font-size: 13px;
        margin-left: 100px;
    }

    /* footer */

    #footer {
        height: 142px;
        margin-top: 200px;
        margin-bottom: 0px;
        padding-bottom: 0px;
        position: absolute;
    }

    .logo-foot {
        height: 50px;
        margin-bottom: 10px;
        margin-left: 5px;
        margin-top: 38px;
    }

    .social {
        color: #fff;
        font-family: muli;
        text-align: center;
        font-size: 13px;
        margin-top: 40px;
        margin-bottom: auto;
    }

    .twit {
        width: 15px;
        height: 15px;
        margin-right: 10px;
    }

    .ig {
        width: 15px;
        height: 15px;
        margin-right: 10px;
    }

    .linked {
        width: 15px;
        height: 15px;
        margin-left: 10px;
    }

    .fb {
        width: 15px;
        height: 15px;
        margin-left: 30px;
        margin-right: 10px;
    }

    
    .copy {
        color: #fff;
        font-family: muli;
        font-size: 12px;
        text-align: center;
        margin-top: 51px;
        padding-top: 10px;
        padding-bottom: 30px;
        margin-left: 35px;
    }
}

@media  screen and (max-width :320px){

    body{
        width: 640px;
    }

    .group {
        width: 250px;
        height: 250px;
        margin-left: 260px;
    }

    .hi {
        font-family: muli,black;
        font-size: 18px;
        color: #19345E;
    }

    .we {
        font-family: Roboto, Bold;
        font-size: 25px;
        color: #19345E;
    }

    .fullstack {
        font-family: Muli, Bold;
        font-size: 9px;
        color: #19345E;
    }

    #btn-team {
        color: #fff;
        background-color: #F47522;
        border-radius: 10vh;
        padding-left: 10px;
        padding-right: 10px;
    }

    .alterra {
        font-family: Muli,Bold;
        font-size: 25px;
        color: #fff;
        text-align: center;
    }

    .brand {
        font-family: Muli;
        font-size: 10px;
        color: #fff;
        text-align: center;
    }

    .para {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: absolute;
        z-index: 5;
        height: 450px;
        padding-left: 229px;
        padding-right: 229px;
    }

    .people {
        width: 100%;
        height: 400px;
    }

    .biru {
        position: absolute;
        background: #19345E 0% 0% no-repeat padding-box;
        opacity: 0.7;
        width: 100%;
        height: 400px;
    }

    .team {
        display: flex;
        justify-content: center;
        background-color: #fff;
        padding: 20px;
        align-items: center;
        margin-top: -50px;
    }

    .pekerja {
        width: 170px;
        height: 220px;
        margin-top: 70px;
        margin-left: 130px;
    }

    .frame-image {
        width: 170px;
        height: 220px;
        border: 10px solid #F47522;
        position: relative;
        top: -47vh;
        right: -10vh;
        margin-left: 65px;
        /* text-align: center; */
    }

    .pekerja-1 {
        width: 170px;
        height: 220px;
        margin-top: 30px;
        margin-left: 126px;
    }

    .frame-image1 {
        width: 170px;
        height: 220px;
        border: 10px solid #19345E;
        position: relative;
        top: -47vh;
        right: -10vh;
        margin-left: 60px;
    }

    .name {
        display: flex;
        justify-content: center;
        margin-left: -20px;
        margin-top: -40vh;
        font-family: Roboto,bold;
        font-size: 16px;
        color: #F47522;
    }

    .pekerjaan {
        display: flex;
        justify-content: center;
        margin-left: -20px;
        margin-top: -20px;
        font-family: Poppins;
        font-size: 12px;
        color: #19345E;
    }

    #gambar {
        width: 157px;
        height: 132px;
        padding-left: 10px;
        margin-left: 4px;
    }

    .isi {
        margin-left: 18px;
        width: 157px;
    }

    .read {
        font-size: 12px;
        margin-left: 75px;
    }

    #footer {
        width: 640px;
        height: 142px;
        margin-top: 200px;
        margin-bottom: 0px;
        padding-bottom: 0px;
        position: absolute;
    }

    .logo-foot {
        height: 50px;
        margin-bottom: 10px;
        margin-left: -55px;
        margin-top: 8px;
    }

    .social {
        color: #fff;
        font-family: muli;
        text-align: center;
        font-size: 13px;
        margin-top: 10px;
        margin-bottom: auto;
    }

    .fb {
        width: 15px;
        height: 15px;
        margin-left: 3px;
        margin-right: 10px;
    }

    .copy {
        color: #fff;
        font-family: muli;
        font-size: 12px;
        text-align: center;
        margin-top: 19px;
        padding-top: 0px;
        padding-bottom: 30px;
        margin-left: 18px;
    }
    .copy {
        color: #fff;
        font-family: muli;
        font-size: 14px;
        text-align: center;
        margin-top: 30px;
        padding-top: 10px;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 30px;
    }
    







}






